{% extends 'account/base.html' %}

{% block title %}Enter your new password {% endblock title %}




{% block content %}

<div class="password_reset_confirm">
  <h1>Reset your password</h1>
  <h4>Enter your new password</h4>
  {% if form.errors %}
    <p>Passwords did't match please try again.</p>
    <form class="" action="." method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <button type="submit" name="button">Reset</button>
    </form>
  {% else %}

    <form class="" action="." method="post">
      {% csrf_token %}
      {{ form.as_p}}
      <button type="submit" name="button">Reset password</button>

  {% endif %}
</div>

{% endblock content %}
