{% extends 'account/base.html' %}

{% block title %}Change your password {% endblock title %}

{% block content %}

<div class="password-change">
  <p>For security reagons please enter your password then proceed.</p>
  {% if form.errors %}
    <p>some errors are occured. please try again</p>
    <form class="" action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="button">Change password</button>
    </form>
  {% else %}
  <form class="" action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="button">Change password</button>
  </form>
  {% endif %}
</div>

{% endblock content %}
